<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
        <h2>About Us </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis optio minima dicta consequatur nam sed, culpa expedita pariatur ad sequi incidunt, necessitatibus laborum commodi sint eligendi. Harum cupiditate facere ex dicta beatae sit ut, tempora
            molestiae similique nihil vitae saepe temporibus? Sequi ipsam odio officiis ut laudantium quam praesentium. Natus iste debitis nihil quis cum!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique quod molestiae accusamus, ut consectetur rerum itaque sapiente. Nisi exercitationem reiciendis soluta quod obcaecati hic nihil, distinctio doloremque impedit consequatur nobis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ad sunt, facere, voluptatibus reprehenderit qui repudiandae blanditiis sed error dolores quibusdam debitis odio illo repellat asperiores nostrum cupiditate eius sequi?</p>
    </div>




</body>

</html>