<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="create-blog content">
        <form action="/blogs" method="POST">
            <label for="title">News Headline:</label>
            <input type="text" id="title" name="title" required>
            <label for="snippet">News summary:</label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">News description:</label>
            <textarea id="body" name="body" required></textarea>
            <button>submit</button>
        </form>
    </div>




</body>

</html>